---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Ray Smets" description="About Ray Smets">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Always learning, evolving, and seeking new challenges"
			>
				<img
					width="1553"
					height="873"
					src="/assets/not-at-work.png"
					alt="Ray Smets at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						On all my professional profiles, I state, "hacker by nature," because it is entirely true. I have always been drawn to creating something out of nothing. Luckily for me, this passion has allowed me to gain expertise in areas that would have seemed like science fiction just a few decades ago.
					</p><br/>
					<p>
						Distributed systems and network security guided my academic pursuits. It's no wonder web3 and the decentralized application ecosystem have capture my attention. However, I have also maintained a love for electronics and a deep understanding of electrical engineering through many microcontroller projects. Starting with an Arduino Uno in 2011 to Nordic's chipsets to now primarily using ESP32s, I enjoy writing C and C++, using my multimeter, and making LEDs blink in creative ways during my free time. Most recently, manufacturing my own custom PCBs has been a blast.
					</p><br/>
					<p>
						Professionally, I have always sought environments that allowed me to grow and learn as quickly and intensely as my passion demanded. This has led me to lighting-paced startup environments where I have had the opportunity to apply my expertise and creativity to guide and build products through their full lifecycle—from inception to MVP, hyperscaling, and eventually to end of life. In my most recent professional chapter, I have taken on a formal leadership role as CTO. I am enjoying fostering and creating the most efficient teams through empathetic leadership and building exceptional platforms for developer experiences.
					</p><br/>
					<p>
						Personally, I was fortunate to meet the love of my life in 2019, just before the world stood still in 2020. We officially tied the knot during a ceremony in Sayulita, Mexico, in February 2023. We love to travel, backpack, and blow off steam in the desert. She is deeply passionate about her career and creative pursuits—saying she has been a great inspiration to me would be an understatement. She has invigorated me in countless ways, and I am forever grateful to share this life with her.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>BS Computer Engineering, UCSB</p>
					<p>MS Information Security, GT</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Favorite Topics</h2>
				<div class="content">
					<p>System Design, CI/CD Automation, Web3, Declarative Infrastructure Management</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Some Hobbies</h2>
				<div class="content">
					<p>Chess, Poker, Generative AI</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Get in Touch</h2>
				<div class="content">
					<p>
						If any of my projects resonated with you, I'm happy to hear that! I'm also more than happy to chat, assist, or mentor on a personal level. Professionally, I am open to lending my skills, particularly in the areas of network security, infrastructure management, and cloud architecture. Please don't hesitate to reach out. Make it a great day.
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>