---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Ray Smets" description="About Ray Smets Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Always learning, evolving, and seeking new challenges"
			>
				<img
					width="1553"
					height="873"
					src="/assets/not-at-work.png"
					alt="Ray Smets at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						On all my professional profiles, I state, "hacker by nature," because it is very much true. I have always been drawn to making something out of nothing. Luckily for me, my passion has allowed me to gain expertise in areas that would have seemed like science fiction just a handful of decades ago.
					</p><br/>
					<p>
						Distributed systems and network security guided my academic pursuits. However, I have also maintained a love for electronics and my fundamental understanding of electrical engineering through many microcontroller projects. Starting with an Arduino Uno 15 years ago and now mostly using ESP32, I love writing C, using my multimeter, and making pretty LEDs blink in my free time.
					</p><br/>
					<p>
						Professionally, I have always sought environments that allowed me to grow and learn as quickly and intensely as my passion. This has lead me to lighting paced startup environments where I have had the opportunity to use my expertise and creativity to guide and build the full lifecycle of products from inception, to mvp, hyperscaling, and also to end of life. In my most recent professional chapter, I have taken on a formal leadership role as CTO and am enjoying creating and fostering the best and most efficient teams through empathetic leadership and creating exception platforms for developer experiences.
					</p>
					</p><br/>
					<p>
						Personally, I am lucky to have met the love of my life in 2019 before the world stood still in 2020. We officially tied the knot at a cercemony in Sayulita, Mexico in Feburary 2023. We love to travel, backpack, and explore new places. She is also very passionate about her career and creative pursuits - simply stating that she has been a great inspiration to me would be an understatement. She has invigorated me in so many ways and am forever grateful I get to enjoy this life with her.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>BS Computer Engineering, UCSB</p>
					<p>MS Information Security, GT</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Favorite Topics</h2>
				<div class="content">
					<p>System Design, CI/CD automation, Web3, Declarative Infrastructure Management</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Some Hobbies</h2>
				<div class="content">
					<p>Chess, Poker, Generative AI</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Call to Action</h2>
				<div class="content">
					<p>If any of my projects resonated with you, I'm happy to hear that! I'm also more than happy to chat, assist, mentor on a personal level. Professionally, I am happy to consider lending my skills particluarly in the areas of network security, infrastructure management, and cloud archecture. Please don't hestitate to reach out. Make a great day.</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>