---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Ray Smets" description="About Ray Smets Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Always learning and evolving"
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.png"
					alt="Ray Smets at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						In my of my profiles I state, "hacker by nature", and that is true. I have always been draw to making something out of nothing. Luckily for me my passion has allowed me to gain expertise in areas that would have seemed like science fintion just a handful of decades ago.
					</p>
					<p>
						Distributed system and network security lead me in my academic pursuits. However, I have also carried the torch for love for electronics and my fundemental EE understanding through many microcontroller projects. Starting with an Arduino Uno 15 years ago and now mostly ESP32 based I love writing C, using my multimeter and making pretty LEDs blink in my free time.
					</p>
					<p>
						Professionally I have always sought the environments that allowed me to grow and learn. I have been a part of many startups and have been able to see the full lifecycle of a product from inception to end of life. I have been a part of many teams and have been able to lead many of them. I have been able to mentor and be mentored by some of the best in the industry.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>BS Computer Engineering, UCSB</p>
					<p>MS Information Security, GT</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Favorite Topics</h2>
				<div class="content">
					<p>System Design, CI/CD automation, declarative infrastructure management</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Some Hobbies</h2>
				<div class="content">
					<p>Chess, Poker, Generative AI</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>