---
import type { CollectionEntry } from 'astro:content';
import Icon from './Icon.astro';

interface Props {
  post: CollectionEntry<'blog'>;
}

const { data, slug } = Astro.props.post;
---

<article class="blog-post">
  <a href={`/blog/${slug}`}>
    <h2>{data.title}</h2>
    <p>{new Date(data.publishDate).toISOString().split('T')[0]}</p>
    <div class="tags">
      <Icon icon="list" color="var(--accent-regular)" size="1rem" gradient />
      <p>{data.tags ? `${data.tags.join(', ')}` : ''}</p>
    </div>
    <p>{data.description}</p>
  </a>
</article>

<style>
  .blog-post {
    margin-bottom: 2rem;
  }
  .blog-post a {
    text-decoration: none;
    color: inherit;
  }
  .blog-post h2 {
    margin: 0;
    font-size: 1.5rem;
  }
  .tags {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .tags p {
    margin: 0;
  }
</style>